* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: black;
}
.contentOne {
    margin-bottom: 5%;
}

.contentOne img {
    border-radius: 10px;
}

#navbarNav ul li a{
    padding-right: 30px;
}

.breadcrumb li a {
    color: black;
}

button {
    margin-right: auto;
}

.contentTwo img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.contentThree img {
    border-radius: 10px;
}